body {
    background-color: white;
    text-align: left;
    margin-left: 44px;
}

header {
    margin: 44px auto;
    max-width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid mediumorchid;
}

.welcomeText {
    font: 20px sans-serif;
    text-align: left;
    margin-left: 44px;
}

.img-thumbnail {
    margin-left: 44px;
    margin-bottom: 20px;
}

.btns > a {
    border-radius: 20px;
    text-decoration: none;
}

.submit {
    font: 16px sans-serif;
    color: darkblue;
    border: 1px solid darkblue;
    padding: 5px 48px;
    margin-top: auto;
    background-color: mintcream;
    border-radius: 20px;
}

.submit:hover {
    background-color: aliceblue;
}

.search {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

