.welcomeText {
    font: 26px sans-serif;
    text-align: center;
}

body {
    background-color: white;
}

header {
    margin: 44px auto;
    max-width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid mediumorchid;
    display: flex;
    justify-content: flex-start;
}

header .logo {
    max-width: 150px;
    display: flex;
}

form {
    margin-top: 20px;
    text-align: center;
    margin-left: auto;
}

.btn > a {
    border-radius: 20px;
    text-decoration: none;
    justify-content: center;
    margin: 45%;
}

p {
    margin-left: 20px;
    max-width: 90%;
    font: 18px/16px sans-serif;
}

.submit {
    font: 16px sans-serif;
    color: darkblue;
    border: 1px solid darkblue;
    padding: 5px 48px;
    margin-top: auto;
    background-color: mintcream;
    border-radius: 20px;
}

.submit:hover {
    background-color: aliceblue;
}

.search {
    margin-left: auto;
}

