.welcomeText {
    font: 18px sans-serif;
    text-align: center;
}

body {
    background-color: white;
    text-align: left;
    margin-left: 44px;
}

header {
    margin: 44px auto;
    max-width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid mediumorchid;
    display: flex;
    justify-content: flex-start;
}

header .logo {
    max-width: 150px;
    display: flex;
}

p {
    font: 16px sans-serif;
    text-align: center;
}

img {
    margin-left: auto;
}

.submit {
    font: 16px sans-serif;
    color: darkblue;
    border: 1px solid darkblue;
    padding: 5px 48px;
    margin-top: auto;
    background-color: mintcream;
    border-radius: 20px;
}

.submit:hover {
    background-color: aliceblue;
}

.phone {
    font: 12px sans-serif;
    color: darkblue;
    border: none;
    padding: 2px 10px;
    margin-top: auto;
    background-color: mintcream;
    border-radius: 10px;
}

.phone:hover {
    background-color: aliceblue;
}