.userName {
    font: 26px sans-serif;
    text-align: center;
}

body {
    background-color: white;
    margin-left: 44px;
}

header {
    margin: 44px auto;
    max-width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid mediumorchid;
}

hr {
    border: none;
    background-color: mediumorchid;
    height: 1px;
}

p {
    max-width: 90%;
    font: 18px/16px sans-serif;
}

.wall {
    font: 24px/20px sans-serif;
    text-align: center;
    margin-left: auto;
}

.img-thumbnail {
    margin-bottom: 20px;
}

.submit {
    font: 12px sans-serif;
    color: darkblue;
    border: 1px darkblue;
    margin-top: auto;
    background-color: mintcream;
    border-radius: 1px;
}

.submit:hover {
    background-color: aliceblue;
}

.search {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

table {
    margin: auto;
    max-width: 90%;
    font: 18px/16px sans-serif;
}

